<header class="bg-gray-900 text-white py-6 dark:bg-gray-900">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <h1 class="text-xl font-bold" id="title-name">Dev Matheus Peluso</h1>
        <!-- Menu de Navegação e Botão de Tema -->
        <div class="flex items-center space-x-4">

            <!-- Botão Toggle Dark/Light Mode -->
            <!-- <button id="theme-toggle" (click)="toggleTheme()"
                class="p-2 bg-gray-200 dark:bg-gray-700 rounded-full shadow-lg focus:outline-none">
                <svg id="theme-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-700 dark:text-white"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path id="sun-icon"
                        [attr.d]="isDarkMode ? '' : 'M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'" />
                    <path id="moon-icon"
                        [attr.d]="isDarkMode ? 'M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' : ''" />
                </svg>
            </button> -->

            <!-- Botão de Hambúrguer -->
            <button id="menu-toggle" (click)="toggleMenu()" class="block md:hidden focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
            <!-- Menu de Navegação (Visível apenas em telas grandes) -->
            <nav class="hidden md:flex space-x-6">
                <a href="#sobre" class="hover:text-gray-300 transition duration-300">Sobre</a>
                <a href="#skills" class="hover:text-gray-300 transition duration-300">Habilidades</a>
                <a href="#projetos" class="hover:text-gray-300 transition duration-300">Projetos</a>
                <a href="#contato" class="hover:text-gray-300 transition duration-300">Contato</a>
            </nav>
        </div>
    </div>

    <!-- Menu Lateral (Invisível por padrão) -->
  <div id="mobile-menu" [class]="isMenuOpen ? 'fixed inset-y-0 left-0 w-64 bg-red-800 text-white transform translate-x-0 transition-transform duration-300 ease-in-out z-50' : 'fixed inset-y-0 left-0 w-64 bg-red-800 text-white transform -translate-x-full transition-transform duration-300 ease-in-out z-50'">
    <div class="p-6">
      <h2 class="text-2xl font-bold mb-6">Menu</h2>
      <ul class="space-y-4">
        <li><a href="#sobre" (click)="closeMenu()" class="hover:text-gray-300 transition duration-300 block">Sobre</a></li>
        <li><a href="#skills" (click)="closeMenu()" class="hover:text-gray-300 transition duration-300 block">Habilidades</a></li>
        <li><a href="#projetos" (click)="closeMenu()" class="hover:text-gray-300 transition duration-300 block">Projetos</a></li>
        <li><a href="#contato" (click)="closeMenu()" class="hover:text-gray-300 transition duration-300 block">Contato</a></li>
        
      </ul>
    </div>
  </div>
    
</header>

<!-- Menu Responsivo
<nav *ngIf="isMenuOpen" class="md:hidden bg-gray-800 text-white py-4 px-4">
    <a href="#sobre" (click)="closeMenu()" class="block py-2 hover:text-gray-300 transition duration-300">Sobre</a>
    <a href="#projetos" (click)="closeMenu()"
        class="block py-2 hover:text-gray-300 transition duration-300">Projetos</a>
    <a href="#contato" (click)="closeMenu()"
        class="block py-2 hover:text-gray-300 transition duration-300">Contato</a>
</nav> -->